* { box-sizing: border-box; }
body {
  margin: 0;
  
  font-family: Arial, Helvetica, sans-serif;
  line-height:1.5; /* Au delà le footer décole */
  background:#474e5d;  /* ou  #ECECEA; */ 
  overflow-x:hidden;
}

/**********  ZONING ************************/
.topnav {
  overflow: hidden;
  background-color:#74AFAD;
  margin-bottom:2em;
}

main{
 /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    le mettre en rouge d'abord  pour mieux voir les marges
	 background:red;
 */	
    margin:auto;
}

#contenu, .contenu, .titreExo{	
	width: 80%; /* width: 70%; */ 
	float: none;
	margin: 4% auto ;
	padding: 50px 20px 80px 20px; /* 25px 20px; */
	background: #558C89; /* #ECECEA; */
	border:none;
	box-shadow:none;	  	
}
#contenu:after, .contenu:after {
	content: "";
	display: table;
	clear: both;
}

.titreExo, .titreFiche{
	width:81% !important; 
	padding:0 20px; 
	text-align:center;
    background-color:#74AFAD !important; /*#ddd */	
    color:#ececea;	

}

/* i fo pas mettre ce box-shadow en haut( même si c'est pas logique) sinon ça va merder sur la ligne 3D en bas des reponses cadrées(index.php) et en bas des exercices cadrés(resume.php)   */
.titreFiche{	
   -moz-box-shadow: inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000 ;
   box-shadow: inset 0 0 3px #000000  !important;
   border-color:transparent; !important;
	
}

footer {	
	position: static;/* fixed*/
	left: 0;
	bottom: 0;
	width: 100%;	
	
	background-color: #74AFAD;
    line-height:1.5; /* c'est p'tetr ça qui fou l'bazar - trop grand ! */
	padding-left:2%;
	padding-bottom:2%;
	text-align: left;
	margin-top:0;
}


/******************* Mise en page topnav  *******************************/

.topnav a, .dropdown-btn {
  float: left;
  color: #ddd;
  text-align: center;
  padding: 25px 40px;  /* padding: 25px 16px; */
  text-decoration: none;
  font-size: 17px;
}
.dropdown-btn{	
	padding: 27px ;
	background: inherit;
}



.topnav a:hover {
  background-color: #474e5d;  /* #ECECEA; */
  color:#cca; /* black; */
}
.topnav a.active {
  
  background-color: #33a198; /* background-color: #4CAF50; ou  #558C89; color: white; */
  color:#ccc;
  
  font-weight:bold;
  padding: 25px 30px; /* padding: 25px 30px; */
}
.topnav a.active:hover {
  color:#cca;
}


/****************** Mise en page contenu : Page de saisie ****************/

.entree{
	  margin:0 auto;
	  width:84%;
	
      	  
	  padding:0;
	  background-color:white;   
	  box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
		0px 2px 2px 0px rgba(255, 255, 255, 0.5);
	  border:1px solid #8c8b8b;	  
}
.entree button, .creuxDuBoutonEnvoyer, #envoyer {
	width:33.33%;
	float:right;
	padding:2em;
	border:none;
	  box-shadow:
	0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
	0px 2px 2px 0px rgba(255, 255, 255, 0.5);	
}
.creuxDuBoutonEnvoyer{
	width:100%;
	padding:0.7em;
	margin-bottom:1em;
	/* 10% de #555 en haut du bouton */
	background-image: linear-gradient(180deg, #fff, #555 10%, #777) !important;
}
.reduireHauteurBtn{
	padding:0.2em 0.7em;
	margin-bottom:0;	
}


#envoyer{
	width:100%;		
	padding:3% 1%;		
	background:#ececea; /* #74AFAD; */
	color:#115;
	font-size:1.2em;
	
	/* Bouton envoyer */
	padding-bottom:1.5em; 
	box-shadow:
	  0 15px 15px 0 #555 inset,
	  0 -10px 1px 0 #999 inset;
	background-color:#ddd;
	
	border:2px solid #bbb;
	border-top:none ;
    cursor:pointer;	
}

.entree form{
	width:100%;
	padding:4em 0 2em 0;
	background:#74AFAD;/* #558c89; #74AFAD;*/
	color:#f1f1f1;/* #ECECEA; */
	border:none;
	
}

.entree form table{
	width:100%;
	padding-bottom:0;
	border:none;
}

.entree form table tr td {
	padding:0 1em;	
}

/* td conteneur des champs input */
.entree form table tr td ~ td {
	width:80%;           		
}
.entree form table tr td input{
	width:100% ;
	/* la hauteur du formulaire se regle ici */
	padding: 1.2em ; /* padding: 0.6em 1.2em ; */
	margin:0.2em 0;
}
/* Liberer de la place pour le captcha:Reduire la hauteur des champs */
.entree form.exo5 table tr td input{ 
	padding:0.5em 1.2em;
	
}
.entree form.exo5 { 
	padding-top:0.5em !important;	
}


button{
	padding:2em;
	border:none;
	box-shadow:
	0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
	0px 2px 2px 0px rgba(255, 255, 255, 0.5);
	cursor:pointer;
}
button.reduireBouton{
	padding:1em 2em;
	margin-bottom:0;
}

button:hover{
	 background-color: #ddd;
	 color:#115;
}
button.vide{
	color:#ececea; 
	cursor: not-allowed;
}
button.vide:hover{
	color:#ddd; 
}


h5{
	margin:0;
}

/****************** Mise en page contenu : Pages d'affichage ****************/

.sortie{
	  margin: 0 auto;
	  width:84%; 

}

.sortie button{
	width:32.8%;	
	padding:2em 1em;
  
	border:none;
}

.paragraphe{
	margin: 1em auto;
	width:84%;
	float:left;			
	border:1px solid #8c8b8b; 
	padding:2% 5%  !important;

	background: #f7f7f9;
}
.warning{
	color:gray;
	font:italic 1em calibri light;
}


/************* Sous-menu pour le sujet.php et le resume.php *******/

.dropdown { float:left; overflow: hidden; }		
.dropdown-content {
	position: absolute;
	min-width: 160px;
	background: #123;/* #74AFAD;*/
	box-shadow: 0px 1px 2px 0px #ccf;
	
	max-height:21.9em; overflow-y: scroll;
}

.topnav .dropdown-content a { display: block; float:none;  }
.topnav .dropdown-content a:not(:first-child) {padding:1.5em 1em;  font-size:15px; font-family:serif; border-bottom:1px solid #333; color:#cca;}	
.topnav .dropdown-content a:hover{ background:whitesmoke; color:#223;}
.dropdown-content { display:none; }
.dropdown:hover .dropdown-content{ display:block; }

/******   Page resume.php ****************************/

.ficheCaptionBas{
	padding:0.3em;
	background-color:#74AFAD;
	text-align:center;
	color:#ECECEA;
	
   -moz-box-shadow: inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000 ;
   box-shadow: inset 0 0 3px #000000  !important;
}

hr.finExo {
	width:80%;
	float:left;
	margin-left:10%; 
	border-color:#74AFAD; /* la couler d'un hr se défini avec ça !!! */
}

.retenir{
	border:1px solid #8c8b8b ; 
	padding:.5em; 
	border-radius:0 0 3px 3px; border:none;											
	box-shadow:0.2px 2px 16px 0px #8c8b8b; 
	width:96.5%;
	background:white;
	color:#990033;
	margin-bottom:1em;

}

.black{
	color:#115;
	font-weight:bold;
}
.maron{
	color:#996600;	
}
.bleu{
	color:#9999ff;
}

.textArabe { font-family:Amiri; font-size:1.1em;  line-height:2; padding-right:1em; }
/* 
 *
 * VARIER LE width EN FONCTION DU TEXTE
 *.centerDiv { margin:0 auto; width:65%; }
 * 
 */
.centerDiv { margin:0 auto 2.5em auto; width:77%; }
.traduction, .traductionCenterDiv, .textSource, .textSourceNormal {  color:#115; font-size:1.05em; font-style:italic; font-weight:bold; }
.textSourceNormal{ font-size:1em; font-weight:normal;}
.traductionCenterDiv{text-align:left;}
 hr.separateur {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	width:70%;
  }
  hr.hr1  {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
  }
  hr.hr2{ 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    margin-bottom:2em;	
  }
 

/*#########################################################################"*/
 
  
/**
 *
 * Mise à jour: fin décembre 2021
 * Objet: Adaptation au projet "Commentaires du coran"
 *
 *
 */
  hr.bIsm{
	display: block;
	clear: both;
	height: 1.5em;
	margin: 0 .5em .5em .5em;
	padding: 0;
	border: 0;
	font-family: arial;
	text-align: center ;
	font-size: 18px;
	line-height: 1.5;
	background:#fff url(../img/bIsm.png) scroll center ;	
	background-repeat:no-repeat;

}	
hr.bIsm:after {
	
	content: " "; /*     
	height: 0;			
	letter-spacing:-.2em; /* 1em; centrer l'étoile */
	color: #aaa; 
}
.numJuzHizb{
	margin-top:2em; margin-bottom:2em;
	box-shadow:inset 0 0 10px gray; 
	padding:.6em 0 0 0;
	border: .1rem solid #ddd; 
	background:white;
}
/* Hadith rapporté du Prophète - PAIX DE DIRU A LUI - */
.SUNNA, .reference, .referenceNom, b, .bleu  {
	font-style:italic;
	font-family:Serif;
	font-size:1.07em;
	padding-left:2em;
	margin-top:0; padding-top:0;
	display:block;
}
.reference, .referenceNom{ font-weight:normal;  font-size:.9em; display:inline; color:gray; padding-left:0;}
.referenceNom{font-size:1em; font-weight:bold;}
/* Citation du coran */
b , .bleu {
	color:#579;/* color:#457; ou gray */ 
	padding-left:0; 	
}
.bleu125{ color:#125 !important; font-weight:bold;}
/*ul.ulSUNNA dialogue à l'intérieur d'un Hadith du Prophète - mais i fo pas mettre la spna.SUNNA dans un paragraph */
ul.ulSUNNA { list-style:none; padding:0 auto; margin:0 auto;} 
.bleu { display:inline; }


#firstChildDropdown, #firstChildDropdown2{
	background-image: url('../img/t1b.png'); 
	background-repeat: no-repeat; 
	color:transparent;  
}
#firstChildDropdown2{background-image: url('../img/t2b.png'); }
.dernierParagraph { padding-bottom:3em; }
.annotation{ color:#33a198; font-family:serif; font-size:.7em; font-weight:bold; text-decoration:none;}

.s5v16{
  float: none;  
  width:87%;/* m'a emmerdé car i fallait remplir ainsi remplir l'ecran .sinon le contenu remonte en display inline: la solution ? display:table-cell; ou bien un margin-right: largeurTotal - largeurElement; */
  height: auto ;
  padding:1.2em;  
  margin:auto 2em;                                                    
  background: #f7f7f9;

  border:1px solid #8c8b8b;
  border-radius: 4px;
  
  line-height:1.5;  text-align:center; box-shadow:none;		  
}
  p.s5v16 strong {
	background:#ddd; color:#007; line-height:3; font-family:Amiri; padding:.2em .5em;		  
	box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
 /* img dans le footer */
.marfa3 { float:right; padding-right:.9em; }

.basmalaF { text-align:center; font-style:italic; font-size:.7em; color:#000066;}

/* .bld { font-weight:bold; font-family: 'Trebuchet MS', Helvetica, sans-serif;} */
.bld { font-weight:bold; font-family: Helvetica; font-style:italic; font-size:.93em;}
/* tafsir Ibn Kathir: contenu de l'interpreation globle */

.paragarapheDuGlobal{  text-align:left !important; font-family:Arial, Helvetica, sans-serif !important; }






/* Naissance du Prophète( Paix et Bénédiction de DIEU sur lui */
		.date570{
		  text-shadow:0 0 2px #FFD100,0 0 30px #FFD100,0px 0px 5px #FFD100, 0 0 150px #FFD100;
          background-color:#2E8ECE;
		  border-radius:50%;
		  color:green;
		  font-size:1.5em;
		  font-weight:bold;
		  
		 box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
		 
		}
/* video:coment2/s102  */
		/* video */
		.popuptext{ width: 40%; background-color: #555; text-align: center; border-radius: 6px; position: relative; border-style: solid; border-color: #555 transparent transparent transparent; padding:.2em .2em .2em 2em; }
		.popuptext::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 15px; border-style: solid; border-color: #555 transparent transparent transparent; }
		.grandCommentaire{line-height:1.4; font-size:.9em;}
		.img{  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.5); border:1px solid #8c8b8b; border-radius: 4px;  background:#555;	}
		.videoCommentaire{  width: 269%;  margin:0 ; padding:0 ; }
		.videoDecaler{ padding: 0 0 0 1.5em; background:#555; }
/************************************************************************** 
  - les turlipins: Ceux qui n'ont pas les diplômes officiels, 
  et qui pourtant, prennent la parole
  
  - "Quant l'Etat est défaillant: les sorcières apparaissent". Michelet 
  
   Extrait conference de Boris Cyrulnik :Le monde bouleversé 
 
***********************************************************************/
